/*
CSS file for the backend

Created by Jürgen K.
https://github.com/juergenweb
File name: objectdimensions.css
Created: 02.02.2022
 */

.dimension-field {
  padding-bottom: 10px;
}

.dimension-field > label {
  padding-left: 0px;
}

@media screen and (min-width: 640px) {
  .dimension-field {
    display:inline-block;
    margin-right:20px;
  }
}

